{% extends "base.html" %}

{% block content %}
<h1>Productos Disponibles</h1>
{% if productos %}
    <div class="row">
        {% for producto in productos %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">Precio: ${{ producto.precio_publico }}</p>
                        <p class="card-text">Costo de Producción: ${{ producto.calcular_costo() }}</p>
                        <p class="card-text">Rentabilidad: ${{ producto.calcular_rentabilidad() }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No hay productos disponibles.</p>
{% endif %}
{% endblock %}
